<div class="container">
  <div class="grid product">

    <div class="column-xs-12 column-md-7">
      <div class="product-gallery">
        <div class="product-image">
          <% if @equipment.images.first %>
            <%= cl_image_tag @equipment.images.first.key, class: "active" %>
          <% end %>
        </div>
        <% if @equipment.images.count > 1 %>
          <ul class="image-list">
            <% @equipment.images[1..-1].each do |image| %>
              <li><%= cl_image_tag image.key, class: 'class-item' %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="column-xs-12 column-md-5 product-info">
      <h1><%= @equipment.name %></h1>
      <h2>$<%= @equipment.price %></h2>
      <div class="description">
        <p><%= @equipment.description.presence || "No description available" %></p>
      </div>

    <div>

  <!-- app/views/equipments/show.html.erb -->
<div data-controller="toggle">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">
    Book Now
  </button>

  <div data-toggle-target="togglableElement" class="d-none mt-3">
    <%= simple_form_for [@equipment, @booking], html: {class: "booking-form", data: { controller: 'flatpickr' }} do |f| %>
      <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: 'startDateInput' }} %>
      <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: 'endDateInput' }} %>
      <%= f.submit "Confirm Booking", class: "add-to-cart" %>
    <% end %>
  </div>
</div>
</div>
</div>
