<h1 class="text-center my-4">Bookings I received</h1>

<div class="container">
   <ul class="nav nav-tabs ">
    <li class="nav-item">
      <%= link_to 'My bookings (as client)', client_bookings_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'My bookings (as owner)', owner_bookings_path, class: 'nav-link active' %>
    </li>
  </ul>

  <% if @bookings.present? %>
    <div class="row py-5">
      <% @bookings.each do |booking| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h4 class="card-title"><%= booking.equipment.name %></h4>
              <h6 class="card-subtitle text-muted">
                <%= booking.start_date.strftime("%B %d, %Y") %> - <%= booking.end_date.strftime("%B %d, %Y") %>
              </h6>
              <p class="card-text">
                <strong>Status:</strong> <%= booking.status.capitalize %>
              </p>

              <% if booking.pending? %>
                <%= link_to "Accept", accept_booking_path(booking), class: "card-link text-danger", data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to accept this booking?" } %>
                <%= link_to "Decline", decline_booking_path(booking), class: "card-link text-danger", data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to decline this booking?" } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">You have no bookings yet.</p>
  <% end %>
</div>
